/* Fonts */
/* Basic */

body {
    background-color: #131313;
}

.title {
    font-family: Yeseva One;
    font-style: normal;
    font-weight: normal;
    font-size: 27px;
    line-height: 37px;
    letter-spacing: -0.07em;
    text-transform: uppercase;
    color: #E3B873;
}

.subtitle {
    font-family: Yeseva One;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: #181818;
}

.main {
    width: 100%;
    height: 100%;
}

.container {
    margin: 0 auto;
}

.button_text {
    text-transform: uppercase;
    text-align: center;
    color: #FFFFFF;
    font-size: 11px;
    font-family: Nunito Sans;
    font-style: italic;
    font-weight: normal;
}

.button {
    width: 207px;
    height: 51px;
    background-color: #E3B873;
    border: none;
    border-radius: 2px;
    box-shadow: 0 5px 15px rgba(227, 184, 115, 0.2);
    cursor: pointer;
}

/* Header */

.header_container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 1256px;
    height: 83px;
}

.header_text {
    font-size: 11px;
    line-height: 15px;
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
}

.mark {
    color: #E3B873;
    margin-right: 100px;
    text-transform: uppercase;
}

.navigation {
    margin-right: 70px;
}

.nav_bar {
    display: flex;
    list-style-type: none;
    padding: 0;
}

.nav_item {
    margin-right: 47px;
}

.nav_item:last-of-type {
    margin-right: 0;
}

.nav_item-link {
    text-transform: uppercase;
    text-decoration: none;
    color: #FFFFFF;
}

.nav_item-link_chosen {
    color: #E3B873;
}

.phone_number {
    margin-right: 45px;
}

.phone_number-item {
    color: #E3B873;
    text-decoration-line: underline;
}

.header_button {
    width: 161px;
    height: 37px;
}

/* Main */

.home_page {
    width: 100%;
    height: 707px;
    background-image: url("../images/other/image 4.3.jpg");
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center;
    position: relative;
}

.home_page:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: black;
    opacity: 0.7;
    z-index: 1;
}

.main_container {
    width: 1263px;
    height: 352px;
    z-index: 2;
    position: relative;
    padding-top: 194px;
    padding-left: 110px;
}

.main_button {
    background-color: transparent;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 2px;
    margin-left: 20px;
}

.main_text {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 36px;
    color: #FFFFFF;
    margin: 0 0 41px 0;
}

.main_title{
    margin-bottom: 24px;
    font-size: 40px;
    line-height: 53px;
    text-transform: uppercase;
}

.main_text-last {
    color: #E3B873;
}

/* Footer */