/* Fonts */

/* Basic */

body {
    background-color: #131313;
}

a {
    text-decoration: none;
}

ul {
    margin: 0;
}

li {
    list-style-type: none;
}

.title {
    font-family: Yeseva One;
    font-style: normal;
    font-weight: normal;
    font-size: 27px;
    line-height: 37px;
    letter-spacing: -0.07em;
    text-transform: uppercase;
    color: #E3B873;
    margin: 0;
}

.subtitle {
    font-family: Yeseva One;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: #181818;
}

.main {
    width: 100%;
    height: 100%;
}

.container {
    margin: 0 auto;
    width: 1263px;
}

.button_text {
    text-transform: uppercase;
    text-align: center;
    color: #FFFFFF;
    font-size: 11px;
    font-family: Nunito Sans;
    font-style: italic;
    font-weight: normal;
}

.button {
    width: 207px;
    height: 51px;
    background-color: #E3B873;
    border: none;
    border-radius: 2px;
    box-shadow: 0 5px 15px rgba(227, 184, 115, 0.2);
    cursor: pointer;
}

/* Header */

.header_container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 83px;
}

.header_text {
    font-size: 11px;
    line-height: 15px;
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
}

.mark {
    color: #E3B873;
    margin-right: 100px;
    text-transform: uppercase;
}

.navigation {
    margin-right: 70px;
}

.nav_bar {
    display: flex;
    padding: 0;
}

.nav_item {
    margin-right: 47px;
}

.nav_item:last-of-type {
    margin-right: 0;
}

.nav_item-link {
    text-transform: uppercase;
    color: #FFFFFF;
}

.nav_item-link_chosen {
    color: #E3B873;
}

.phone_number {
    margin-right: 45px;
}

.phone_number-item {
    color: #E3B873;
    text-decoration-line: underline;
}

.header_button {
    width: 161px;
    height: 37px;
}

/* Main */

/* Home page */

.home_page {
    width: 100%;
    height: 707px;
    background-image: url("../images/other/image 4.3.jpg");
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center;
    position: relative;
}

.home_page:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: black;
    opacity: 0.7;
    z-index: 1;
}

.main_container {
    height: 352px;
    z-index: 2;
    position: relative;
    padding-left: 46px;
    padding-top: 194px;
}

.main_button {
    background-color: transparent;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 2px;
    margin-left: 20px;
}

.main_text {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 36px;
    color: #FFFFFF;
    margin: 0 0 41px 0;
}

.main_title{
    margin-bottom: 24px;
    font-size: 40px;
    line-height: 53px;
    text-transform: uppercase;
}

.main_text-last {
    color: #E3B873;
}

/* Info slider */

.info_slider {
    width: 100%;
    height: 600px;
    position: relative;
    margin-top: 107px;
}

.info_container {
    height: 576px;
    padding-left: 46px;
    background-image: url("../images/other/slider.jpg");
    background-repeat: no-repeat;
    background-size: 679px 482px;
    background-position: bottom 20px right 85px;
}

.info_container-main {
    width: 1205px;
    height: 524px;
}

.info_container-list {
    width: 487px;
    height: 512px;
}

.info_list {
    display: flex;
    justify-content: flex-end;
    padding: 0 102px 0 0;
}

.list_item {
    margin-right: 60px;
}

.list_item:last-of-type {
    margin-right: 0;
}

.list_item-link {
    font-family: Yeseva One;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.3);
}

.clicked_link {
    color: #E3B873;
}

.clicked_link:after {
    content: "";
    display:block;
    width: 205px;
    padding-bottom: 6px;
    border-bottom: #E3B873 solid 1px;
}

.info_container-secondary {
    display: flex;
    flex-wrap: wrap;
}

.info_slider-title {
    margin-bottom: 34px;
    margin-top: 45px;
}

.info_item {
    width: 240px;
    height: 100px;
    margin-bottom: -10px;
}

.info_slider-text {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 27px;
    color: #FFFFFF;
    margin-top: 0;
    margin-bottom: 42px;
}

.info_item-subtitle {
    font-family: Yeseva One;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
    color: #E3B873;
    margin: 0;
}

.attribute {
    font-size: 13px;
    line-height: 21px;
}

/* Slider buttons */

.slider_dots:before, .slider_dots:after {
    content: url("../images/svg/slider_arrow.svg");
    display: flex;
    align-items: center;
    cursor: pointer;
}

.slider_dots:before {
    transform: rotate(-180deg);
}

.slider_dots {
    display: flex;
    align-items: center;
    margin-top: 30px;
}

.dot {
    width: 10px;
    height: 10px;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 30px;
    margin-right: 18px;
    cursor: pointer;
}

.dot:first-of-type {
    background: #FFFFFF;
    margin-left: 30px;
}

.dot:last-of-type {
    margin-right: 30px;
}

/* Online control */

.online_control {
    height: 1072px;
    background-color: #E5E5E5;
    position: relative;
}

.online_control:before {
    content: "";
    display: block;
    position: absolute;
    background-color: #131313;
    width: 100%;
    height: 355px;
    top: 0;
    left: 0;
    z-index: 0;
}

.online_control-container {
    height: 1040px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.control-subtitle {
    color: #FFFFFF;
    position: relative;
    z-index: 1;
    margin: 0 0 13px 0;
    padding-top: 40px;
}

.camera_icon {
    z-index: 1;
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.camera_icon-item {
    margin: 0 10px;
}

.camera_icon:before, .camera_icon:after {
    content: "";
    position: relative;
    display: block;
    background-color: #E3B873;
    width: 32px;
    height: 2px;
    border-radius: 30px;
    z-index: 1;
}

.camera_image-container {
    z-index: 1;
    position: relative;
    margin-bottom: 62px;
}

.camera_image-container:before {
    z-index: 3;
    position: absolute;
    content: "";
    width: 86px;
    height: 86px;
    box-shadow: 0 5px 30px rgba(227, 184, 115, 0.2);
    border-radius: 90px;
    top: calc(50% - 43px);
    left: calc(50% - 43px);
    background: #E3B873 no-repeat center url("../images/svg/triangle.svg");
}

.camera_image-container:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: black;
    opacity: 0.8;
    z-index: 2;
}

.line {
    width: 55px;
    height: 1px;
    background-color: #E3B873;
    border-radius: 30px;
    border-color: transparent;
    margin: 0 auto;
}

.online_control-text {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 37px;
    text-align: center;
    color: #363636;
    margin: 30px auto 0 auto;
}

/* Submit form */

.input_form {
    margin-top: 60px;
}

.form_info {
    display: flex;
    flex-wrap: wrap;
}

.label_input {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 21px;
    color: rgba(54, 54, 54, 0.5);
}

.input {
    background: transparent;
    border: 0;
    border-bottom: 1px solid rgba(54, 54, 54, 0.3);
    box-sizing: border-box;
    width: 231px;
    margin-right: 58px;
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 23px;
    color: #363636;
    padding-bottom: 4px;
}

.submit_button {
    font-style: normal;
    font-size: 13px;
    line-height: 27px;
}

.checkbox_container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.custom-checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;
}
.custom-checkbox+label {
    display: inline-flex;
    align-items: center;
    user-select: none;
}
.custom-checkbox+label::before {
    content: '';
    display: inline-block;
    width: 16px;
    height: 16px;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid #adb5bd;
    border-radius: 1px;
    margin-right: 9px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
}

.custom-checkbox:checked+label::before {
    border-color: transparent;
    background-color: #E3B873;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}

.text_checkbox {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 23px;
    color: #181818;
    padding-left: 9px;
    margin-top: 15px;
}

.custom-checkbox, .text_checkbox{
    cursor: pointer;
    margin-top: 15px;
}
/* Footer */