/* Fonts */
/* Basic */

body {
    background-color: #131313;
}

a {
    text-decoration: none;
}

ul {
    margin: 0;
}

li {
    list-style-type: none;
}

.title {
    font-family: Yeseva One;
    font-style: normal;
    font-weight: normal;
    font-size: 27px;
    line-height: 37px;
    letter-spacing: -0.07em;
    text-transform: uppercase;
    color: #E3B873;
    margin: 0;
}

.subtitle {
    font-family: Yeseva One;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: #181818;
}

.main {
    width: 100%;
    height: 100%;
}

.container {
    margin: 0 auto;
    width: 1263px;
}

.button_text {
    text-transform: uppercase;
    text-align: center;
    color: #FFFFFF;
    font-size: 11px;
    font-family: Nunito Sans;
    font-style: italic;
    font-weight: normal;
}

.button {
    width: 207px;
    height: 51px;
    background-color: #E3B873;
    border: none;
    border-radius: 2px;
    box-shadow: 0 5px 15px rgba(227, 184, 115, 0.2);
    cursor: pointer;
}

/* Header */

.header_container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 83px;
}

.header_text {
    font-size: 11px;
    line-height: 15px;
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
}

.mark {
    color: #E3B873;
    margin-right: 100px;
    text-transform: uppercase;
}

.navigation {
    margin-right: 70px;
}

.nav_bar {
    display: flex;
    padding: 0;
}

.nav_item {
    margin-right: 47px;
}

.nav_item:last-of-type {
    margin-right: 0;
}

.nav_item-link {
    text-transform: uppercase;
    color: #FFFFFF;
}

.nav_item-link_chosen {
    color: #E3B873;
}

.phone_number {
    margin-right: 45px;
}

.phone_number-item {
    color: #E3B873;
    text-decoration-line: underline;
}

.header_button {
    width: 161px;
    height: 37px;
}

/* Main */

/* Home page */

.home_page {
    width: 100%;
    height: 707px;
    background-image: url("../images/other/image 4.3.jpg");
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center;
    position: relative;
}

.home_page:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: black;
    opacity: 0.7;
    z-index: 1;
}

.main_container {
    height: 352px;
    z-index: 2;
    position: relative;
    padding-left: 46px;
    padding-top: 194px;
}

.main_button {
    background-color: transparent;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 2px;
    margin-left: 20px;
}

.main_text {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 36px;
    color: #FFFFFF;
    margin: 0 0 41px 0;
}

.main_title{
    margin-bottom: 24px;
    font-size: 40px;
    line-height: 53px;
    text-transform: uppercase;
}

.main_text-last {
    color: #E3B873;
}

/* Info slider */

.info_slider {
    width: 100%;
    height: 670px;
    position: relative;
    margin-top: 107px;
}

.info_container {
    height: 576px;
    padding-left: 46px;
    background-image: url("../images/other/slider.jpg");
    background-repeat: no-repeat;
    background-size: 679px 482px;
    background-position: bottom 20px right 85px;
}

.info_container-main {
    width: 1205px;
    height: 524px;
}

.info_container-list {
    width: 487px;
    height: 512px;
}

.info_list {
    display: flex;
    justify-content: flex-end;
    padding: 0 102px 0 0;
}

.list_item {
    margin-right: 60px;
}

.list_item:last-of-type {
    margin-right: 0;
}

.list_item-link {
    font-family: Yeseva One;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.3);
}

.clicked_link {
    color: #E3B873;
}

.clicked_link:after {
    content: "";
    display:block;
    width: 194px;
    padding-bottom: 6px;
    border-bottom: #E3B873 solid 1px;
}

.info_container-secondary {
    display: flex;
    flex-wrap: wrap;
}

.info_slider-title {
    margin-bottom: 34px;
    margin-top: 45px;
}

.info_item {
    width: 240px;
    height: 100px;
    margin-bottom: -10px;
}

.info_slider-text {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 27px;
    color: #FFFFFF;
    margin-top: 0;
    margin-bottom: 42px;
}

.info_item-subtitle {
    font-family: Yeseva One;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
    color: #E3B873;
    margin: 0;
}

.attribute {
    font-size: 13px;
    line-height: 21px;
}

/* Slider buttons */

.slider_dots:before {
    content: url("../images/svg/slider_arrow.svg");
    transform: rotate(-180deg);
    display: flex;
    align-items: center;
}

.slider_dots {
    display: flex;
    align-items: center;
    margin-top: 30px;
}

.slider_dots:after {
    content: url("../images/svg/slider_arrow.svg");
    display: flex;
    align-items: center;
}

.dot {
    width: 10px;
    height: 10px;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 30px;
    margin-right: 18px;
}

.dot:first-of-type {
    background: #FFFFFF;
    margin-left: 30px;
}

.dot:last-of-type {
    margin-right: 30px;
}

/*  */

/* Footer */